@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2c2b2b;
    color: #e0e0e0;
}

.gradient-text {
    background: linear-gradient(to right, #097ed1 0%, #741ae3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}